.contactUsMain-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUsContents-div{
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248 / var(--tw-bg-opacity));
    border-radius: 20px;
    width: 90%;
    margin: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.leftContact-div{
    /* border: 2px solid red; */
    width: auto;
    /* padding: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0; /* No right border radius */
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactUsText-div{
    display: flex;
    flex-direction: column;
}

.contactUsText-div span{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

.contactUsText-div p{
    font-family: 'Poppins',sans-serif;
    font-size: small;
    display: list-item;
}

.contactUsInput-div form{
    display: flex;
    flex-direction: column;
    width: auto;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}

.contactUsInput-div input{
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248 / var(--tw-bg-opacity));
    border-radius: 20px;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: medium;
    font-weight: 200;
}

.contactUsInput-div textarea{
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248 / var(--tw-bg-opacity));
    border-radius: 20px;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: medium;
    font-weight: 200;
}

.contactUsformButton-div{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 10px;
    font-family: 'Poppins',sans-serif;
}

.clearAll-a{
    background-color: black;
    color: var(--ffp-primary-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.submit-button{
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background-color: var(--ffp-primary-color);
}


.rightContact-div{
    /* display: none; */
    /* border: 2px solid black; */
    width: 40%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0; /* No left border radius */
    background-color: var(--ffp-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContact-div img{
    height: auto;
    width: auto;
}

@media only screen and (max-width: 1000px) {

    .rightContact-div{
        display: none;
    }
    
    .leftContact-div{
        border-radius: 20px;
    }
}
