.topWebPageLogo-div{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.topWebPageLogo-div .ffgimg-ffptext-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 120px;
    height: 120px;
}