.main-page{
    height: 100vh;
    /* border: 3px solid red; */
    /* background-color: whitesmoke; */
    /* background-image: url('../../assets/bg-test.jpg'); */
}

.floatingNavBar-div{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-div{
    margin-top: auto;
}