.mainIndustrial-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainIndustrialCard-div{
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248 / var(--tw-bg-opacity));
    border-radius: 40px;
    width: 85%;
    margin: 20px;
    padding: 30px;
}

.industrial-textitems-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.industrial-textitems-div .industrialProjects-span{
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    color: lightgray;
}

.industrial-textitems-div .currentTitle-span{
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    color: black;
}

.industrial-swiper {
    border-radius: 20px;
    width: 90%;
  }
  
  .industry-swiperSilder {
    background-position: center;
    background-size: cover;
  }
  
  .industry-swiperSilder img {
    display: block;
    width: 100%;
  }

  .industrial-cardbottombutton-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.industrial-cardbottombutton-div button{
    width: 180px;
    height: 50px;
    background-color: var(--ffp-primary-color);
    border-radius: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    color: white;
}

.industrial-cardbottombutton-div button:hover{
    color: black;
}

  @media only screen and (max-width: 600px) {
    .industrial-textitems-div .industrialProjects-span {
        font-size: large;
    }

    .industrial-textitems-div .currentTitle-span{
        font-size: x-large;
    }

    .industrial-swiper {
        width: 100%;
        height: 200px;
      }
  }

  